a
{
	text-decoration: none;
	color: inherit;
}

.grey
{
	background-color: grey;
}

#profile-id
{
	display: none;
}

nav li
{
	display: inline;
}

#logout-but
{
	background-color: black;
	color: white;
	font-size: .8em;
	padding: 5px;
}

#login-name
{
	font-size: .8em;
}

#display-info
{
	height: 140px;
	padding: 10px 0px 0px 5px;
}

img#profile-pic
{
	width: 125px;
	height: 125px;
	background-color: black;
}

#display-created
{
	font-size: .7em;
}

div
{
	width: 49%;
	text-align: center;
	display: inline-block;
}

.menu-choice
{
	font-size: 1.5em;
}

#friends-table
{
	width: 100%;
}

	th
	{
		background-color: #C0C0C0;
	}

	td
	{
		padding: 0px 7px 0px;
	}

	#username
	{
		width: 20%;
	}

	#status
	{
		width: 60%;
	}

	#relationship
	{
		width: 20%;
	}

